.listItem {
    list-style: none;
    display: flex;
    background-color: rgb(72,72,74);
    margin: 0;
    padding: 0;
    height: 4rem;
    color: #ffffff;
    align-items: center;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2rem;
    width: 7.5rem;
}