body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  border: none;
  border-radius: 10px 0 0 10px;
  padding: 1rem;
  width: 17rem;
  position: relative;
  outline: none;
}

.search-button {
  height: 3rem;
  width: 3rem;
  border: none;
  border-radius: 0 10px 10px 0;
  position: absolute;
  background-color: #48484a;
  color: #ffffff;
}

.search-input-div {
  background: #f2f2f2;
  margin-top: 1rem;
  padding: 1rem;
  text-align: 'center'
}

.temperature::after {
  content: '°';
  position: relative;
  top: -0.5em;
  left: 0.1em;
  font-size: 70%;
  font-weight: bold;
}